.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 20px;
  margin: 50px 7vw;
}


.item {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
