@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: var(--main-font);
    letter-spacing: var(--letter-spacing);
}

.overlay{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    z-index: 3;
}

.overlay:hover{
    background: rgba(0, 0, 0, 0.9); 
}

.clearFix::after {
    content: "";
    display: table;
    clear: both;
}