:root{
    
    /*FONTES*/

    --header-font:"Poppins", "sans-serif"; /*Aplicada ao título somente*/

    --main-font: "Roboto Flex", "sans-serif";
    --letter-spacing: -3%; 
    --font-weight-link: 600;

    --green: #00A25C;
    --blue: #0084FF;

    --blue-titles: #1B6FBB;
    --green-titles: #01CC66;

}