.container {
  padding: 6rem 2rem;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  max-width: 100%;
  background: linear-gradient(to bottom, #03C01F, #22BFEA);
}

.cabecalho{
  position: relative;
}

.titulo {
  font-family: 'PT Mono', monospace;
  font-size: 2.5rem;
  padding-bottom: 28px;
  margin-top: 2rem;
  color: #000;
  text-align: left;
  margin-left: var(--margin-left);
  z-index: 10;
  position: relative;
}


.group28Gradiente {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  z-index: 8;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  margin: 0 var(--margin-left);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  position: relative;

}

.sectionTitle {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 2rem auto 1.5rem auto;
  color: #ffffff;
  text-decoration: underline;
  padding-bottom: 0.8rem;
  margin-left: var(--margin-left);

}

.letra {
  font-family: 'Roboto flex', sans-serif;
  font-weight: 500;
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #000;
  margin-top: 1rem;
}

.lyricsImageWrapper {
  display:flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  
}

.imageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  align-items: center;
  text-align: center;

  max-width: 490px ;
  max-height: 690px;
}

.filipetaImage {
  
  width: 75%;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.caption {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #000;
  text-align: justify;
  width: 75%;
}

.audio {
  width: 80%;
  margin-top: 1.2rem;
  border-radius: 6px;
  display: block;
  font-size: 2rem;
}

.profileRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  max-width: 150px; 
  scroll-snap-align: start;
  text-align: center;
}


.avatar {
  max-width: 150px;
  width: 150px;
  border-radius: 50%;

}

/*carrossel*/

.carrosselWrapper {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  justify-content: space-evenly;
}

.carrossel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 3rem;
}



.carrossel::-webkit-scrollbar {
  display: none;
}




.seta {
  position: absolute;
  background-color: (255, 255, 255, 0.9);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 26;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
  width: 48px;
  height: 48px;
  display: none;
  top: 40%;
}

.seta:hover {
  background-color: #eee;
}

.esquerda {
  left: 5px;
}
.direita {
  right: 5px;
}



.flexSong{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.interprete{
  font-size: 1.5rem;
  font-weight: 500;

}

.funcao{
  margin-top: 20px;
  font-weight: 600;

}
.nome {
  margin-top: 0.9rem;
  font-size: 1.07rem;
  text-align: center;
  color: #0054A2;
  text-decoration: underline;
  line-height: 1.2;
  font-weight: 600;
  width: 250px;
}

.gridArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.texto {
  flex: 1 1 300px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20.16px;
  color: #000;
  line-height: 1.7;
  margin-top: 1rem;
  z-index: 150;
  position: relative;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 25px;

}


.gridVisual {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.imgBoxGrande {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  grid-row: span 2;
}

.imgBox {
  width: 100%;
  height: 100%;
  min-height: 220px;
  background-color: #d9d9d9;
  position: relative;

}

.btn {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #737373;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #4e4e4e;
}


/* === DESKTOP MAIOR PARA MÉDIO === */

@media (max-width: 1123px){
   .filipetaImage {
    width: 100%;
    min-height: 492px;
    min-width: 376px;

  }

    .caption {
    width: 100%;
    max-width: 376px;
  }
}

@media (max-width: 1024px) {.seta { display: initial; }}

@media (max-width: 1025px){
    .filipetaImage {
    width: 100%;
    max-height: 492px;
    max-width: 376px;
  }

  .caption {
    width: 100%;
    max-width: 376px;
  }
   .lyricsImageWrapper {
    flex-direction: column-reverse;
    gap: 10px;
  }

    .letra { min-width: auto; text-align: center; }
}



/* === TABLET E INTERMEDIÁRIO === */
@media (max-width: 800px) {
  

  .sectionTitle {
    padding: 0.5rem 0 1rem 0;
    font-size: 3rem;
    width: 100%;
    text-align: left;
  }



 



  .imageContainer { align-items: center; }
  .card { max-width: 100%; }

  .flexSong {
    flex-direction: column;
    gap: 25px;
  }

  .audio { width: 100%; }
}

@media (max-width: 773px) {

  .sectionTitle {
    padding: 0;
    font-size: 3rem;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}



/* === MOBILE MÉDIO === */
@media (max-width: 700px) {
  .titulo {
    font-size: 2rem;
    margin-left: var(--margin-left);
    margin-right: var(--margin-left);
    text-align: left;
    padding-bottom: 14px;
  }

   .profile { width: 110px; padding-left: 0px;}
  .avatar{width: 110px;}

  .seta {
    width: 32px;
    height: 32px;
    font-size: 1rem;
  }

}

    

@media (max-width: 600px) {
  .titulo {
    font-size: 2rem;
    margin-left: var(--margin-left);
    margin-right: var(--margin-left);
    text-align: left;
    padding-bottom: 14px;
  }
}



/* === MOBILE PEQUENO === */
@media(max-width: 564px){
  .filipetaImage{
    min-width: 0;
    min-height: 0;
  }
}




@media (max-width: 542px) { 

  .carrossel{gap: 0rem} 
  .profile{width: 140px;
    max-width: 140px;
  }
}

/* === PERFIS NO CARROSSEL === */


@media (max-width: 1066px) {
  .carrossel{
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .profile { flex: 0 0 calc(33.33% - 2rem); } /* 3 itens */
}

@media (max-width: 768px) {
  .profile { flex: 0 0 calc(50% - 2rem); } /* 2 itens */
}

@media (max-width: 550px) {
  .profile { flex: 0 0 100%; } /* 1 item */
}



