.main {
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.zIndexVisible{
  z-index: 10;
  position: relative;
  font-family: var(--main-font);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.titulo {
  font-family: 'PT Mono', monospace;
  font-size: 2.5rem;
  padding-bottom: 28px;
  margin-top: 2rem;
  color: #000;
  text-align: left;
  margin-left: var(--margin-left);
  z-index: 10;
  position: relative;
}

.background {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}



.group28Gradiente{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 30vw;
    z-index: 8;
}
