
/*O Card própriamente dito*/
.cardInfo{
    display: flex;
    color: white;
    font-size: 2rem;
    position: sticky;
    padding-left: 7vw;
    top: 0vw;
    height: 60vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;

}


.title{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10rem;
    letter-spacing: initial;
    
}

.firstTitle {
  padding-top: 15rem;
}



.button{
    padding: 8px 26px;
    border: 2px solid white;
    border-radius: 13px;
    margin-top: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.imgCard{
    height: 60vh;
    width: 500px;
    position: relative;
    z-index: 0;
    object-fit: cover;
    object-position: top;
}
    

.p{
    margin-top: 2.5rem;
    padding-right: 50px;
    width: calc(100vw - 650px);
}


@media (max-width: 1441px) {
  .imgCard {
    width: 380px;
  }

  .textsFlex {
    max-width: calc(100vw - 370);
  }

  .p {
    width: auto;
    padding-right: 0;
  }
}


@media (max-width:1700px){
    .cardInfo{
        font-size: 1.7rem;
        padding-left: 7vw;
        align-items: center;
        justify-content: center;
        height: 70vh;
        
    }
    .title{
        padding-top: 5rem;

    }




    .p{
        width: initial;
    }

    .button{
        margin: 50px 0 ;
        font-size: 1rem;
        align-self: center

    }

    .imgCard{
        max-width: 370px;
        width: 370px;
        min-width: 370px;
        object-position: top;
        object-fit: cover;
        flex-shrink: 1;
        height: 100%;
    }

    .textsFlex{
        max-width: calc(100vw - 370);

    }
}



@media (max-width:1000px) {
    .cardInfo{
        flex-direction: column;
        font-size: 1.7rem;
        padding-left: 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }
    .title{
        padding-top: 5rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .firstTitle{
        padding-top: 10rem;
    }


    .p{
        width: initial;
        text-align: center;
        padding: 0 25px;
    }

    .button{
        margin: 50px 0 ;
        font-size: 1rem;
        align-self: center

    }

    .imgCard{
        width:60%;
        object-position: top;
        object-fit: cover;
        flex-shrink: 1;
    }

    .textsFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: calc(100vw - 370);

    }


}

@media (max-width:600px) {
    .imgCard{
        width:100%;
        object-position: top;
        object-fit: cover;
        flex-shrink: 1;
    }

}


