.logoEba{
    position: relative;
    top:-30px
}

.group28Gradiente{
    width: 100%;
    position: absolute;
    top: 450px;
}

.homeLogo{
    display: flex;
    gap: 15px;
    z-index: 100;
    position: absolute;
    left: 40vw;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(0.9);
    top: 640px;
        
    img{
            height: 180px;
        }
}

.homeText{
    margin-top: 2rem;
    margin-left: 7vw;
    margin-right: 7vw;
    z-index: 100;
    justify-content: space-around;
    font-size: 1.8rem;
    line-height: 28px;
    position: relative;
    z-index: 100;
    background-color: white;

    padding-bottom: 50px;
}

.areaVerde {
  width: 100%;
  background: linear-gradient(#00CC65, #0053A1);
}

.titleSection{
    color: white;
    font-size: 2.5rem;
    padding-top: 150px;
    margin-left: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}
.titleSectionNoPadding{
    color: white;
    font-size: 2.5rem;
    margin-left: 7.5vw;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}
.titleSectionEquipe{
    color: white;
    font-size: 2.5rem;
    margin-left: 7.5vw;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}

.box{
    margin-top: 25px;
    background-color: white;
    border-radius: 25px;
    margin-left: 7vw;
    margin-right: 7vw;
    font-size: 1.9rem;
    padding: 16px;
    line-height: 28px;
}
.LastBox{
    margin-top: 25px;
    background-color: white;
    border-radius: 25px;
    margin-left: 7vw;
    margin-right: 7vw;
    font-size: 1.9rem;
    padding: 16px;
    line-height: 28px;
}

.membroFoto{
    width: 250px;
}

.divFotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 15px;
}
.divFotosSolo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.membro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    >p{
        margin-top: 15px;
    }
}

.membroSolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    >p{
        margin-top: 15px;
    }
}

.greenSpace{
    height: 100px;
    width: 100%;
}



@media (max-width:500px) {
    .titleSection{
        font-size: 2rem;
        text-align: center;
        margin-left: 0;
    }

    .titleSectionNoPadding{
        margin-left: 0;
        text-align: center;
    }
    .titleSectionEquipe{
        margin-left: 0;
        text-align: center;
    }
}

/* GRADIENTE E LOGOS */


@media (max-width:1850px) { 
    .group28Gradiente{ top:29.5rem}
    .homeLogo{ top: 610px;}
    .logoEba {top: -13px;}
}
@media (max-width:1705px) { 
    .group28Gradiente{ top:29.5rem}
    .homeLogo img{ height: 150px;}
    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 40vw; top: 37vw;}
}
@media (max-width:1565px) { 
    .group28Gradiente{ top:29.5rem}
    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 40vw; top: 39vw;}
}
@media (max-width:1435px) { 
    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 40vw; top: 41vw;}
}
@media (max-width:1315px) { 

    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 43vw; top: 43vw;}

}
@media (max-width:1150px) { 

    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 43vw; top: 45vw;}

}
@media (max-width:1055px) { 

    .homeLogo{ position: absolute; gap: 0px; margin: 0 7vw; left: 25rem; top: 31.5rem;}

}




/*Vertical alinhado no centro*/
@media (max-width:1000px) { 
    .group28Gradiente{ top:40.5rem}
    .homeLogo{ position: relative; gap: 0px; margin: 0 7vw; left: 0; top: 0;}
 
}
@media (max-width:803px) { 
    .group28Gradiente{ top:42.5rem}
    .homeLogo{ position: relative; gap: 0px; margin: 0 7vw; left: 0; top: 0;}
}

@media (max-width:764px) { 
    .group28Gradiente{ top:45rem}
    .homeLogo img{ height: 130px;}
}

@media (max-width:737px) { 
    .group28Gradiente{ top:46rem}
    .homeLogo img{ height: 130px;}
}

@media (max-width:677px) { 
    .group28Gradiente{ top:48rem}
    .homeLogo img{ height: 130px;}
}

@media (max-width:570px) { 
    .group28Gradiente{ top:49rem}
    .homeLogo img{ height: 120px;}
    .homeLogo{margin: 0px}
}

@media (max-width:569px) { 
    .group28Gradiente{ top:49rem}
    .homeLogo img{ height: 120px;}
}

@media (max-width:503px) { 
    .group28Gradiente{ top:51rem}
    .homeLogo img{ height: 120px;}
}

@media (max-width:497px) { 
    .group28Gradiente{ top:52rem}
    .homeLogo img{ height: 110px;}
}

@media (max-width:497px) { 
    .group28Gradiente{ top:52rem}
    .homeLogo img{ height: 110px;}
}

@media (max-width:462px) { 
    .group28Gradiente{ top:52rem}
    .homeLogo img{ height: 100px;}
}

@media (max-width:413px) { 
    .group28Gradiente{ top:54rem}
    .homeLogo img{ height: 90px;}
}

@media (max-width:406px) { 
    .group28Gradiente{ top:55rem}
    .homeLogo img{ height: 80px;}

}
@media (max-width:387px) { 
    .group28Gradiente{ top:55rem}
    .homeLogo img{ height: 85px;}
}

@media (max-width:381px) { 
    .group28Gradiente{ top:55rem}
    .homeLogo img{ height: 80px;}
}
@media (max-width:374px) { 
    .group28Gradiente{ top:58rem}
    .homeLogo img{ height: 80px;}
}