

.cardInfo{
    display: flex;
    color: white;
    font-size: 2rem;
    padding-left: 7vw;
    position: sticky;
    top: 0vw;
    height: 52vh;
    overflow-y: hidden;
    width: 100%;

}

.textsFlex{
    margin-right: 2vw;
}

.title{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 4.5rem;
    letter-spacing: initial;
    
}


.button{
    padding: 8px 26px;
    border: 2px solid white;
    border-radius: 13px;
    margin-top: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.imgCard{
        min-width: 500px;
    max-width: 500px;;
    height: 480px;
    position: relative;
    z-index: 0;
    align-self: center;
    object-fit: cover;
    object-position: center;
}
    

.p{
    margin-top: 2.5rem;
}


@media (max-width: 1200px){
    .title{
        font-size: 3.5rem;
    }

    .cardInfo{
        overflow: hidden; /*tirar se ultrapassar*/
        height: 55vh;
        flex-direction: row; /*coloca imagem depois do texto*/
        gap: 50px;

    }

    .imgCard{
        min-width: 400px;
        max-width: 401px;
    }

    .p{
        font-size: 1.3rem;
    }

}
@media (max-width: 1200px){
    .title{
        font-size: 2.8rem;
    }

    .cardInfo{
        overflow: hidden; /*tirar se ultrapassar*/
        height: 55vh;
        flex-direction: row; /*coloca imagem depois do texto*/
        gap: 25px;

    }

    .imgCard{
        min-width: 400px;
        max-width: 401px;
    }

    .p{
        font-size: 1.1rem;
        margin-left: 0;
    }

      .button{
        padding: 8px 26px;
        border: 2px solid white;
        border-radius: 13px;
        margin-top: 25px;
        font-size: 1.1rem;
        text-transform: uppercase;
        cursor: pointer;
    }

}

@media (max-width:742px) {
    .title{
        font-size:2.5rem; /*diminui o tamanho do titulo do card*/
    }

    .cardInfo{
        overflow: hidden; /*tirar se ultrapassar*/
        height: 55vh;
        flex-direction: column; /*coloca imagem depois do texto*/
        gap: 50px;
        padding-left: 7vw;
        padding-right: 7vw;

    }

        .textsFlex{
        margin-right: 0vw;
        display: flex; /*pra poder centralizar todos os textos*/
        align-items: center; /*centraliza texto e botao*/
        flex-direction: column;
        p{
            padding: 0 5vw; /*margens laterais*/
        }
    }

    .imgCard{
        display: none;
    }

    .p{
        font-size: 1.2rem;
    }

    .button{
        padding: 8px 26px;
        border: 2px solid white;
        border-radius: 13px;
        margin-top: 25px;
        font-size: 1.1rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    .textsFlex{
        margin-right: 0vw;
        display: flex; /*pra poder centralizar todos os textos*/
        align-items: center; /*centraliza texto e botao*/
        flex-direction: column;
        p{
            padding: 0 5vw; /*margens laterais*/
        }
    }

}