#breve{
    font-size: 2rem;
    color: var(--title-color);
    font-family: var(--font-title);
    line-height: inherit;


}


@media (max-width:634px) {
    
    #breve{
        text-align: center;
        font-size: 1.5rem;

    }
}