.container{
    width:100vw;
}

.cabecalho{
    position:relative;
}

.title {
  font-family: "Roboto Flex";
  font-size: 5rem;
  font-weight: 700;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start; /* alinhado à esquerda */
  gap: 5px;
  align-items: end;
  margin-left: 7vw; /* mesmo recuo dos textos */
  margin-right: 7vw;
}

.line {
  display: none;
}



.sectionTexts{
    margin-top: 2rem;
    position: relative;
    justify-content: space-around;
    font-size: 1.7rem;
    line-height: 28px;
    position: relative;
    z-index: 10002;
    background-color: white;

    >p{
        margin-left: 7vw;
        margin-right: 7vw;
    }

}


.sectionCards{
    position: relative;
}


.floatImage {
    position: relative;
    z-index: 10003;
    float: right; 
    width: 450px; 
    height: 300px; 
    margin-left: 3vw; 
    margin-right: 7vw;
    margin-top: 2rem; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 97%); */

    
}

.group28Gradiente{
    position: absolute;
    width: 100vw;    
    z-index: 10001;
    top: -50px;
}

.blueTitles{
    color: var(--blue-titles);
}
.greenTitles{
    color: var(--green-titles);
}





@media (max-width:1600px) {

.title{font-size: 4rem;}
}

@media (max-width:1337px) {

    .title{font-size: 3rem;}

}


    

@media (max-width:786px) {
    .title{
        flex-direction: column;
        align-items: center;
    }

    .line{display: none;}

    .floatImage{
        float:none;
        height: auto;
        width: 75%;
        max-width: 468px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-top: 2rem;
    }
}

@media (max-width:444px) {
    .title{font-size: 2rem;}
}

@media (max-width:600px) {
    .group28Gradiente{top: -56px;}
}