
.mainContainer{
    position: relative;
    top: -5vw;
    z-index: 2;

    margin-left: 30px;
}

.buscarAnos{
    position: absolute;
    background-color: white;
    top: -20px;
    left: 35px;
    padding: 5px 5px;
    font-size: 1.3rem;
    width: 130px;
    text-align: center;
}

.inputContainer {
    width: 510px;
    height: 49px;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(to right, var(--green), var(--blue));
    font-size: 16px;
}

.inputContainer input {
    width: 100%;
    height: 45px;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.inputContainer input:focus {
    background-color: #ffffff;
}

/*carrossel*/

.carrosselWrapper {
  position: relative;
  width: 100vw;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 40px;
}

.carrossel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-bottom: 10px;
}

.item {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 5px; 
  scroll-snap-align: start;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.carrossel::-webkit-scrollbar {
  display: none;
}


.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.item p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #444;
}


.disabled {
  opacity: 0.5;         /* feedback visual */
  cursor: not-allowed;
}

.seta {
  position: absolute;
  top: 40%;
  background-color: (255, 255, 255, 0.9);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 26;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
  width: 64px;
  height: 64px;
  justify-content: center;
}

.seta:hover {
  background-color: #eee;
}

.esquerda {
  left: 0;
}
.direita {
  right: 0;
}


@media (max-width: 603px) {
  .carrosselWrapper {
    max-width: 100%;

}
  .item {
    width: 140px;
    margin: 8px;
  }
  .seta {
    font-size: 1.8rem;
    padding: 0.5rem 0.75rem;
  }
   .inputContainer{
    width: 70%;
  }
}

@media (max-width: 1770px){
 .container{
  margin-top: -100px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1670px){
 .container{
  margin-top: -150px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1530px){
 .container{
  margin-top: -200px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1400px){
 .container{
  margin-top: -250px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1278px){
 .container{
  margin-top: -300px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1138px){
 .container{
  margin-top: -350px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 1000px){
 .container{
  margin-top: -400px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 879px){
 .container{
  margin-top: -450px;
  
}
  .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 750px){
 .container{margin-top: -500px;}
 .item{
    position: relative;
    z-index: 25;
  }
}
@media (max-width: 603px){.container{margin-top: -0px;}}
@media (max-width: 580px){.container{margin-top: -30px;}}
@media (max-width: 569px){.container{margin-top: -50px;}}
@media (max-width: 532px){.container{margin-top: -100px;}}
@media (max-width: 500px){.container{margin-top: -150px;}}
@media (max-width: 480px){.container{margin-top: -180px;}}
@media (max-width: 465px){.container{margin-top: -200px;}}
@media (max-width: 430px){.container{margin-top: -250px;}}