.homeText {
    justify-content: space-around;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    z-index: 100;
    background-color: white;
}
.homeText p {
    margin-top: 2rem;
    margin-left: 7vw;
    margin-right: 7vw;
    z-index: 100;
}

.homeLogo {
    display: flex;
    gap: 15px;
    z-index: 100;
    position: absolute;
    left: 53vw;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.9);
    top: 730px;

}

.homeLogo img {
    height: 200px;
}

.eba{
    position: relative;
    top:-30px
}


.buttons{
    height: 880px;
    position: relative;
    overflow: hidden;
}

/* Gradientes */
.separadorGradiente1, #separadorGradiente2 {
    position: absolute;
    width: 100vw;
}

.separadorGradiente1 {
    top: -30vw;
}
.separadorGradiente-2 {
    top: 24vw;
    rotate: 180deg;
    z-index: 2;
}

/* Gradientes Mobile*/
/* #separador-gradiente-11-mobile, #separador-gradiente-12-mobile{
    position: absolute;
    width: 100vw;
}

#separador-gradiente-11-mobile {
    top: -33vw;
} */
/* #separador-gradiente-12-mobile {
    top: 40vw;
    rotate: 180deg;
    z-index: 2;
}

#separador-gradiente-21-mobile {
    position: relative;
    top: -5vw;
    
} */



/* Imagens */
/* #projeto-social-img {
    position: absolute;
    width: 60%;
    z-index: 0;
    background-color: black;
    z-index: -12;
    margin-top: 3%;} */


/* #projeto-museu-img {
    position: absolute;
    width: 60%;
    object-fit: fill;
    margin-left: 50%;
    margin-top:8vw;
    z-index: -11;
}

#projeto-museu-img-mobile{
    position: absolute;
    z-index: 0;
    top: 50vw
} */


.projetoMuseu .projetoSocial{
    position: relative;
    display: flex;
    width: 50%;
}

.museuLink {
    position: absolute;
    top: 27.5vw;
    left: 50%;
    margin-left: 25%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 2em;

}



.socialLink {
    position: absolute;
    top: 27.5vw;
    margin-left: 25%;
    width: 50.5%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 2em;

}

.projetosMobile{
    position: relative;
    top: -10vw;
}

.socialLinkMobile{
    position: absolute;
    top: 47vw;
    margin-left: 0%;
    width: 100%;
    padding: 15px 30px;
    font-size: 2em;
}
.museuLinkMobile{
    position: absolute;
    top: 107vw;
    margin-left: 0%;
    width: 100%;
    padding: 15px 30px;
    font-size: 2em;
}

@media (max-width:1876px){
 
    .homeLogo {
        top: 700px;
    
    }

}
@media (max-width:1850px){
 
    .homeLogo {
        top: 700px;
        transform: scale(0.8);
        left: 53vw;
    }

}
@media (max-width:1760px){
 
    .homeLogo {
        top: 680px;
        transform: scale(0.75);
        left: 53vw;
    }

}
@media (max-width:1648px){
 
    .homeLogo {
        top: 645px;
        transform: scale(0.75);
        left: 51vw;
    }

}
@media (max-width:1570px){
 
    .homeLogo {
        top: 635px;
        transform: scale(0.68);
        left: 50vw;
    }

}
@media (max-width:1460px){
 
    .homeLogo {
        top: 630px;
        transform: scale(0.65);
        left: 49vw;
    }

}
@media (max-width:1443px){
 
    .homeLogo {
        top: 615px;
        transform: scale(0.65);
        left: 47vw;
    }

}
@media (max-width:1350px){
 
    .homeLogo {
        top: 590px;
        transform: scale(0.65);
        left: 45vw;
    }

}
@media (max-width:1280px){
 
    .homeLogo {
        top: 580px;
        transform: scale(0.63);
        left: 44vw;
    }

}
@media (max-width:1253px){
 
    .homeLogo {
        top: 570px;
        transform: scale(0.55);
        left: 42vw;
    }

}
@media (max-width:1210px){
 
    .homeLogo {
        top: 560px;
        transform: scale(0.55);
        left: 42vw;
    }

}
@media (max-width:1195px){
 
    .homeLogo {
        top: 580px;
        transform: scale(0.50);
        left: 42vw;
    }

}

@media (max-width:1165px){
 
    .homeLogo {
        top: 560px;
        transform: scale(0.50);
        left: 42vw;
    }

}
@media (max-width:1095px){
 
    .homeLogo {
        top: 557px;
        transform: scale(0.46);
        left: 42vw;
    }

}

@media (max-width:1030px) {
    .homeLogo{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        transform: scale(1);
        top:0;  
        left: 50%;
        transform: translateX(-50%) ;
        
    }
    .homeLogo img{
        width: 150px;
        height: 150px;
        margin-top: 25px;

    }
.museu-link{
    font-size: 1.5em;
}

.social-link{
    font-size: 1.5em;
}

}

@media (max-width: 610px){
    .museu-link{
    font-size: 1.2em;
}

.social-link{
    font-size: 1.2em;
}
}

@media (max-width:520px) {

    .homeLogo img{
        width: 125px;
        width: 125px;
        
    }

}
@media (max-width:420px) {

    .homeLogo img{
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    #eba{
        top:-15px
    }

}


