.container{
    width:100vw;
}

.title{
    font-family: "Roboto Flex";
    font-size: 5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 7vw;
}

.cabecalho{
    position: relative;
}

.areaVerde{
        background: linear-gradient(#00CC65, #0053A1);
}

.imgDivinas{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    position: relative;
    z-index: 10002;
}

.sectionTexts{
    margin-left: 7vw;
    margin-right: 7vw;
    position: relative;
    margin-top: 32px;
    font-size: 20.16px;
    line-height: 28px;
    position: relative;
    z-index: 10002;
    background-color: white;

}



.divisorGradiente{
    position: absolute;
    top: 45.3rem;
    width: 100%;
    z-index: 100010;
}

.group28Gradiente{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 28.5rem;
    z-index: 10001;
}

.blueTitles{
    color: var(--blue-titles);
}
.greenTitles{
    color: var(--green-titles);
}

.cardContainer{
    height: 100vh;
    position: relative;
    top: -50px;
}

.sectionTitle{
    font-size: 3rem;
    color: white;
    margin-left: 7vw;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 65px;
}

.gridVisual {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  grid-template-rows: 1fr 1fr;  /* duas linhas */
  gap: 0.5rem;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  margin: 0 auto;          /* garante centralização no meio da tela */
  width: fit-content;
}


.padding{
    padding: 25px;
}




.imgBox {
  width: 100%;
  max-width: 350px;
  min-width: 350px;

  height: 300px;
  
  object-fit: cover;
}


.linksDiv{
    background: white;
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 40%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    
}

.linksDiv > * {
  font-size: 28px;
}

.link{
    font-size: 28px;

}



@media (max-width: 1476px){
    .title{
        font-size: 4rem;
    }    
}


@media (max-width: 1203px){
    .title{
        font-size: 3.5rem;
    }    
}

@media (max-width:5000px) {
    .divisorGradiente{display: none;}
    
}

@media (max-width:1600px) {

.title{font-size: 4rem;}
}
@media (max-width:1337px) {
    .title{font-size: 3rem;}

}

    

@media (max-width:786px) {
    .title{
        flex-direction: column;
        align-items: center;
    }

    .line{display: none;}

    .floatImage{
        float:none;
        height: auto;
        width: 75%;
        max-width: 468px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-top: 2rem;
    }
}


@media (max-width:650px) {
    .imgDivinas {width: 50%;}


}



@media (max-width:444px) {
    .title{font-size: 2rem;}

}

@media (max-width:1900px) {.group28Gradiente{top: 470px}}
@media (max-width:1800px) {.group28Gradiente{top: 480px}}
@media (max-width:1720px) {.group28Gradiente{top: 490px}}
@media (max-width:1662px) {.group28Gradiente{top: 517px}}
@media (max-width:1658px) {.group28Gradiente{top: 525px}}
@media (max-width:1600px) {.group28Gradiente{top: 515px}}
@media (max-width:1560px) {.group28Gradiente{top: 520px}}
@media (max-width:1527px) {.group28Gradiente{top: 550px}}
@media (max-width:1516px) {.group28Gradiente{top: 555px}}
@media (max-width:1500px) {.group28Gradiente{top: 565px}}
@media (max-width:1434px) {.group28Gradiente{top: 610px}}
@media (max-width:1337px) {.group28Gradiente{top: 600px}}
@media (max-width:1276px) {.group28Gradiente{top: 629px}}
@media (max-width:1275px) {.group28Gradiente{top: 640px}}
@media (max-width:1246px) {.group28Gradiente{top: 650px}}
@media (max-width:1133px) {.group28Gradiente{top: 680px}}
@media (max-width:1105px) {.group28Gradiente{top: 700px}}
@media (max-width:1009px) {.group28Gradiente{top: 725px}}
@media (max-width:1006px) {.group28Gradiente{top: 740px}}
@media (max-width:975px) {.group28Gradiente{top: 766px}}
@media (max-width:959px) {.group28Gradiente{top: 790px}}
@media (max-width:908px) {.group28Gradiente{top: 840px}}
@media (max-width:849px) {.group28Gradiente{top: 870px}}
@media (max-width:768px) {.group28Gradiente{top: 900px}}
@media (max-width:761px) {.group28Gradiente{top: 930px}}
@media (max-width:746px) {.group28Gradiente{top: 950px}}
@media (max-width:673px) {.group28Gradiente{top: 980px}}
@media (max-width:643px) {.group28Gradiente{top: 1000px}}
@media (max-width:595px) {.group28Gradiente{top: 1020px}}
@media (max-width:587px) {.group28Gradiente{top: 1040px}}
@media (max-width:574px) {.group28Gradiente{top: 1060px}}
@media (max-width:559px) {.group28Gradiente{top: 1077px}}
@media (max-width:541px) {.group28Gradiente{top: 1070px}}
@media (max-width:522px) {.group28Gradiente{top: 1090px}}
@media (max-width:496px) {.group28Gradiente{top: 1110px}}
@media (max-width:481px) {.group28Gradiente{top: 1140px}}
@media (max-width:466px) {.group28Gradiente{top: 1170px}}
@media (max-width:456px) {.group28Gradiente{top: 1190px}}
@media (max-width:436px) {.group28Gradiente{top: 1200px}}
@media (max-width:426px) {.group28Gradiente{top: 1230px}}
@media (max-width:424px) {.group28Gradiente{top: 1260px}}
@media (max-width:419px) {.group28Gradiente{top: 1280px}}
@media (max-width:390px) {.group28Gradiente{top: 1300px}}
@media (max-width:386px) {.group28Gradiente{top: 1320px}}
@media (max-width:377px) {.group28Gradiente{top: 1350px}}


@media (max-width: 757px){
    .gridVisual{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }

    .imgBoxGrande{
        max-width: 400px;
        min-width: 400px;
    }

    .imgBox{
        min-width: 400px;
        max-width: 400px;
    }
    .sectionTitle{
        margin-bottom: 35px;
        text-align: center;
        margin-left: 0;
        font-size: 2.5rem ;
        text-transform: uppercase;
    }

    .title{
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
}


@media (max-width: 450px){
    .gridVisual{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }

    .imgBoxGrande{
        max-width: 350px;
        min-width: 350px;
    }

    .imgBox{
        min-width: 350px;
        max-width: 350px;
    }



}
