.container{
    width:100vw;
}

.title{
    font-family: "Roboto Flex";
    font-size: 5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 7vw;
}

.cabecalho{
    position: relative;
    min-height: 500px;
    
}

.areaVerde{
        background: linear-gradient(#00CC65, #0053A1);
}

.imgDivinas{
    position: relative;
    float: right;
    z-index: 10010;
    margin-right: 7vw;
    bottom: 3.5rem;
}

.sectionTexts{
    margin-left: 7vw;
    margin-right: 7vw;
    position: relative;
    margin-top: 32px;
    font-size: 20.16px;
    line-height: 28px;
    position: relative;
    z-index: 10002;
    background-color: white;


}





.group28Gradiente{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 20.5rem;
    z-index: 10001;
}

@media (max-width:1161px) {
    .group28Gradiente{top: 25rem;}
}

@media (max-width:1039px) {
    .group28Gradiente{top: 28rem;}
}

@media (max-width:999px) {
    .group28Gradiente{top: 32rem;}
       
}

@media (max-width:835px) {
    .group28Gradiente{top: 36rem;}
       
}

@media (max-width:778px) {
    .group28Gradiente{top: 39rem;}
       
}
@media (max-width:757px) {
    .group28Gradiente{top: 50rem;}
       
}

@media (max-width:696px) {
    .group28Gradiente{top: 52rem;}
       
}

@media (max-width:625px) {
    .group28Gradiente{top: 54rem;}
       
}

@media (max-width:555px) {
    .group28Gradiente{top: 56rem;}
       
}

@media (max-width:500px) {
    .group28Gradiente{top: 58rem;}
       
}

@media (max-width:473px) {
    .group28Gradiente{top: 57rem;}
       
}

@media (max-width:462px) {
    .group28Gradiente{top: 59rem;}
       
}

@media (max-width:446px) {
    .group28Gradiente{top: 58rem;}
       
}

@media (max-width:444px) {
    .group28Gradiente{top: 57rem;}
       
}

@media (max-width:437px) {
    .group28Gradiente{top: 59rem;}
       
}

@media (max-width:427px) {
    .group28Gradiente{top: 60rem;}
       
}

@media (max-width:414px) {
    .group28Gradiente{top: 62rem;}
       
}

@media (max-width:407px) {
    .group28Gradiente{top: 61rem;}
       
}

@media (max-width:406px) {
    .group28Gradiente{top: 63rem;}
       
}

@media (max-width:390px) {
    .group28Gradiente{top: 64.5rem;}
       
}

@media (max-width:376px) {
    .group28Gradiente{top: 64rem;}
       
}




.blueTitles{
    color: var(--blue-titles);
}
.greenTitles{
    color: var(--green-titles);
}

.cardContainer{
    min-height: 125vh;
    height: auto;
    position: relative;
    top: -50px;
}

.sectionTitle{
    font-size: 3rem;
    color: white;
    margin-left: 7vw;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 65px;
}

.fotosSection{
    margin-top: 80px;
}

.gridVisual {
  
    display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  grid-template-rows: 1fr 1fr;  /* duas linhas */
  gap: 0.5rem;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  margin: 0 auto;          /* garante centralização no meio da tela */
  width: fit-content;
}


.padding{
    padding: 25px;
}




.imgBox {
  width: 100%;
  max-width: 350px;
  min-width: 350px;

  height: 300px;
  
  object-fit: cover;
}


.linksDiv{
    background: white;
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 40%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    
}

.linksDiv > * {
  font-size: 28px;
}

.link{
    font-size: 28px;

}



@media (min-width: 1476px){
    .title{
        font-size: 4rem;
    }
    .gridVisual{
        padding-top: 35px;
    }

}


@media (max-width: 1203px){
    .title{
        font-size: 3.5rem;
    }    
}

@media (max-width:1600px) {

.title{font-size: 4rem;}
}
@media (max-width:1337px) {
    .title{font-size: 3rem;}

}

    

@media (max-width:786px) {
    .title{
        flex-direction: column;
        align-items: center;
    }

    .line{display: none;}

    .floatImage{
        float:none;
        height: auto;
        width: 75%;
        max-width: 468px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-top: 2rem;
    }
}


@media (max-width:650px) {
    .imgDivinas {width: 50%;}


}



@media (max-width:444px) {
    .title{font-size: 2rem;}

}




@media (max-width: 757px){
    .gridVisual{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }

    .imgBoxGrande{
        max-width: 400px;
        min-width: 400px;
    }

    .imgBox{
        min-width: 400px;
        max-width: 400px;
    }
    .sectionTitle{
        margin-bottom: 35px;
        text-align: center;
        margin-left: 0;
        font-size: 2.5rem ;
        text-transform: uppercase;
    }
    .imgDivinas{
        float: none;
        margin-right: 0;
        position: relative;
        left:50%;
        top: 25px;
        transform: translateX(-50%);

    }

    .title{
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
}


@media (max-width: 450px){
    .gridVisual{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }

    .imgBoxGrande{
        max-width: 350px;
        min-width: 350px;
    }

    .imgBox{
        min-width: 350px;
        max-width: 350px;
    }



}
