

.cardInfo{
    display: flex;
    color: white;
    font-size: 2rem;
    padding-left: 7vw;
    position: sticky;
    top: 0vw;
    height: 52vh;
    overflow-y: hidden;
    width: 100%;

}

.textsFlex{
    margin-right: 2vw;
}

.title{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 4.5rem;
    letter-spacing: initial;
    
}


.button{
    padding: 8px 26px;
    border: 2px solid white;
    border-radius: 13px;
    margin-top: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.imgCard{
    min-width: 420px;
    max-width: 420px;
    height: 480px;
    margin-right: 7vw;
    position: relative;
    z-index: 0;
    align-self: center;
    object-fit: cover;
    object-position: top;
}
    

.p{
    margin-top: 2.5rem;
}

