.mainContainer{
    font-size: 1.6rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.linksExterno{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    gap: 50px;
    align-items: center;
    text-decoration: underline;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
}

@media (max-width:930px) {
    .mainContainer{
        font-size: 1.3rem;
        flex-direction: row;
    }

    .links{
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .title{
        font-size: 2rem;
    }
}
@media (max-width:745px) {
    .mainContainer{
        font-size: 1.2rem;
        flex-direction: row;
    }

    .links{
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .title{
        font-size: 2rem;
    }
}
@media (max-width:745px) {
    .mainContainer{
        font-size: 1rem;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:15px
    }

    .links{
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
        
        i{
            display: none;
        }
        
        span {
            font-size: 1rem;
        }
    }

    .title{
        font-size: 1.5rem;
    }
}