.mainContainer{
    font-size: 1.6rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    gap: 50px;
    align-items: center;
    text-decoration: underline;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
}

@media (max-width:420px) {
    .mainContainer{
        font-size: 1rem;
        flex-direction: row;
    }

    .links{
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .title{
        font-size: 1.5rem;
    }
}