
/*ACESSO RAPIDO*/

#acesso{ /*TEXTO DO ACESSO RAPIDO - TOPO DA PAGINA*/
  font-family: var(--font-acesso-rapido);
  font-size: 1.7rem;
  color: var(--title-color);
  margin-left: 5px;

}

.box{ /*BOX DO ACESSO RAPIDO*/
  border: 2.5px solid var(--subtitle-color);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 5px;
}


.box-links{ /*textos dentro do acesso rapido // organizacao estrutural*/

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;

  li{ /*os links*/
    padding: 4px 10px ;
    font-size: 1.1rem;
    font-family: var(--font-acesso-rapido);
    cursor: pointer;
    list-style-type: disc;
    text-decoration: underline;
    color: var(--subtitle-color);
  
  }
}



#titulo-ancora{
  font-family: var(--font-ancora-tile-years);
  color: var(--title-color);
  font-weight: 200;
  padding-right: 1.5rem;
}

.subtitle-subdiv{
  font-family: var(--font-title-subdiv-years);
  color: var(--timeline-title-subdiv-years-color);
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 15px;
}

#foto-letra-86{
  position: relative;
  bottom: 40px;
  height: 450px;
}

.legenda-86{
  width: 350px ;
  position:relative;
  bottom: 25px;
}

.letra-side-by-side{
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  
}

.flex-midia{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


#subtitle {
  font-family: var(--font-subtitle);
  color: var(--subtitle-color);
  width: 100%;
  letter-spacing: 0.3em;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  font-size: 1vw;
}

#subtitle::after {
  content: '';
  position: absolute;
  left: 0;
  top:2vw;
  width: 100%;
  height: 1px;
  background: var(--gradiente-azul-verde);
  opacity: 25%;
  flex-grow: 1;
}


.sistema-colunas{
  gap: 15px;
  column-count: 2;
}
.img-coluna{
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  max-height: 450px;
  margin-top: 5px;
}

#nasce-suvaco{
  max-height: 1000px;
}

/* @media (max-width:1200px) {
  
  #subtitle::after{
    display: none;
  }

}

@media (max-width:760px){

  .acesso-rapido{
    width:100vw;
  }

  .box{
    width: fit-content;
  }

  .div{
    width: 100%;
    >p{
      width: 320px;
      padding-right: 1.5%;
      margin-left: 6%;
      font-size: 1rem;
    }
  }

.section-container{
  width: 350px;
}

#titulo-principal{
  font-size: 2.2rem}

.section-title-subtitle{
  flex-direction: column;

}
  #titulo-ancora{
    font-size:1.8rem;
  }

  #subtitle{
    font-size: 1rem;
    margin-top: 10px;
  }

  #subtitle::after{
    display: none;
  }

  #acesso{
    font-size:1.2rem
  }
  
  .box-links{
    display:block;

    >li{
      font-size: 1rem;
    }
  }

  .subtitle-subdiv{
    font-size: 1.5rem;
    text-align: center;
  }


  .subtitle-line{
    display: none;
  }

  .letra-side-by-side{
    flex-direction: column;
    justify-content: initial;
    gap: 25px;
    align-items: center;
  }

  #letra{
    font-size: 1rem;
  }
  #foto-letra-86{
    width:300px;

  }

  .controls{
    margin-top: 35px;
  }

  #artista-funcao{
    font-size: 1.3rem;
  }

  .flex-carrossel{
    flex-direction: column;
    gap: 45px;
  }


  #camisa86{
    width:320px
  }

  .sistema-colunas{
    display: flex;
    flex-direction: column;
  }

  .img-coluna{
    min-width: 0px;
    max-width: 320px;
    min-height: 0px;
    max-height: 500px;
  }

  #nasce-suvaco{
    max-height: 500px;
  }
  
} */

@media (max-width:1200px) {



.section-title-subtitle{
  flex-direction: column;

}
  #titulo-ancora{
    font-size:2.5rem;
  }

  #subtitle{
    font-size: 1rem;
    margin-top: 10px;
  }

  #subtitle::after{
    display: none;
  }

  #acesso{
    font-size:1.5rem
  }
  

  .subtitle-subdiv{
    font-size: 1.5rem;
    text-align: center;
  }


  .subtitle-line{
    display: none;
  }

}

@media (max-width:836px) {

  section{
    grid-template-columns: 1fr 7fr 1fr;
  }

  .acesso-rapido{
    text-align: center;
  }

  .box{
    width: 100%;
    text-align: start;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
  }

  .div{
    >p{
      padding-right: 1.5%;
      margin-left: 6%;
      font-size: 1rem;
    }
  }



#titulo-principal{
  font-size: 2.2rem}

.section-title-subtitle{
  flex-direction: column;

}
  #titulo-ancora{
    font-size:1.8rem;
  }

  #subtitle{
    font-size: 1rem;
    margin-top: 10px;
  }

  #subtitle::after{
    display: none;
  }

  #acesso{
    font-size:1.2rem
  }
  
  .box-links{
    display:block;

    >li{
      font-size: 1rem;
    }
  }

  .subtitle-subdiv{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
  }


  .subtitle-line{
    display: none;
  }

  .letra-side-by-side{
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
  }

  #letra{
    font-size: 1rem;
    margin-bottom: 50px;
  }
  #foto-letra-86{
    width:300px;
    position: relative;
    top: 0.2vh;

  }

  .controls{
    margin-top: 35px;
  }

  #artista-funcao{
    font-size: 1.3rem;
  }

  .flex-carrossel{
    flex-direction: column;
    gap: 45px;
  }


  #camisa86{
    width:320px
  }

  .sistema-colunas{
    display: flex;
    flex-direction: column;
  }

  .img-coluna{
    min-width: 0px;
    max-width: 320px;
    min-height: 0px;
    max-height: 500px;
  }

  #nasce-suvaco{
    max-height: 500px;
  }
}

@media(max-width:798px){
  .letra-side-by-side{
    flex-direction: column;
    justify-content: initial;
    gap: 15px;
    align-items: center;
  }

  #letra{
    text-align: center;
  }

  .foto-86{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .legenda-86{
    width: 300px ;
    position: inherit;
    bottom: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
  }


  

}


@media (max-width:500px) {

  .acesso-rapido{
    width:360px;
    text-align: center;
  }

  .box{
    width: fit-content;
    text-align: start;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
  }

  .div{
    width: 350px;
    >p{
      width: 320px;
      padding-right: 1.5%;
      margin-left: 6%;
      font-size: 1rem;
    }
  }



#titulo-principal{
  font-size: 2.2rem}

.section-title-subtitle{
  flex-direction: column;

}
  #titulo-ancora{
    font-size:1.8rem;
  }

  #subtitle{
    font-size: 1rem;
    margin-top: 10px;
  }

  #subtitle::after{
    display: none;
  }

  #acesso{
    font-size:1.2rem
  }
  
  .box-links{
    display:block;

    >li{
      font-size: 1rem;
    }
  }

  .subtitle-subdiv{
    font-size: 1.5rem;
    text-align: center;
  }


  .subtitle-line{
    display: none;
  }

  .letra-side-by-side{
    flex-direction: column;
    justify-content: initial;
    gap: 25px;
    align-items: center;
  }

  #letra{
    font-size: 1rem;
    margin-bottom: 50px;
  }
  #foto-letra-86{
    width:300px;

  }



  .controls{
    margin-top: 35px;
  }

  #artista-funcao{
    font-size: 1.3rem;
  }

  .flex-carrossel{
    flex-direction: column;
    gap: 45px;
  }


  #camisa86{
    width:320px
  }

  .sistema-colunas{
    display: flex;
    flex-direction: column;
  }

  .img-coluna{
    min-width: 0px;
    max-width: 320px;
    min-height: 0px;
    max-height: 500px;
  }

  #nasce-suvaco{
    max-height: 500px;
  }
}