
.mainContainer {
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3rem;
    padding: 0 7vw;
    position: relative;
    z-index: 1000;
}

.navIcon {
    height: 2.5rem;
}


.liItens {
    display: none; /* Por padrão, oculto em telas pequenas */
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.liItens li {
    cursor: pointer;
    margin-left: 5rem;
    font-weight: var(--font-weight-link);
    font-size: 1.10rem;
}

.liItens a {
    text-decoration: none;
    color: #333;
}

.liItens a:hover {
    color: #007bff;
}

@media(max-width: 845px){
    .liItens li {
        font-size: 1rem;
    }
}

@media(max-width: 813px){
    .liItens li{
        margin-left: 4rem;
    }
}

@media (min-width: 769px) {
    .liItens {
        display: flex; 
    }
    .mainContainer {
        justify-content: center; 
    }
    .navIcon {
        position: static; 
        margin-left: 0; 
    }
}