.mainContainer {
    background-color: white;
}

.mainContainer ul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3rem;
    font-weight: var(--font-weight-link);
    font-size: 1.10rem;
}

.navIcon {
    margin-left: 7vw;
    position: absolute;
}

.liItens {
    display: flex;
    justify-content: center; 
    flex: 1; 
    gap: 5rem;

}

.liItens li{
    cursor: pointer;
}