.container {
  padding: 6rem 2rem;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  max-width: 100%;
  background: linear-gradient(to bottom, #009EFC, #01BDB7);
}

.titulo {
  font-family: 'PT Mono', monospace;
  font-size: 2.5rem;
  padding-bottom: 28px;
  margin-top: 2rem;
  color: #000;
  text-align: left;
  margin-left: var(--margin-left);
  z-index: 10;
  position: relative;
}

.group28Gradiente{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 29.5vw;
    z-index: 8;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  margin: 0 auto 2.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  position: relative;

}

.sectionTitle {
    font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 2rem auto 1.5rem auto;
  color: #ffffff;
  text-decoration: underline;
  padding-bottom: 0.8rem;
  margin-left: var(--margin-left);

}
.imgCamisetaWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.imgCamiseta {
  background-color: #d9d9d9;
  border-radius: 8px;
}

.profileRow {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin-top: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 0.5rem;
  max-width: 150px; 
}

.avatar {
  min-width: 150px;
  border-radius: 50%;
}

.nome {
  margin-top: 0.9rem;
  font-size: 1.07rem;
  text-align: center;
  color: #0054A2;
  text-decoration: underline;
  line-height: 1.2;
  font-weight: 600;
  width: 250px;
}

.gridArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.texto {
  flex: 1 1 300px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.3em;
  color: #000;
  line-height: 1.7;
  margin-top: 1rem;
  z-index: 150;
  position: relative;
  margin-left: 7vw;
  margin-right: 7vw;

}

.gridVisual {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.imgBoxGrande {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  grid-row: span 2;
}

.imgBox {
  width: 100%;
  height: 100%;
  min-height: 220px;
  background-color: #d9d9d9;
  position: relative;

}

.btn {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #737373;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #4e4e4e;
}

@media (max-width: 400px) {
  .profileRow {
    gap: 1rem;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 0.9rem;
  }
}





/*=== TITULOS ===*/

@media (max-width:900px) {
   .titulo {
    font-size: 2rem;
    margin-left: var(--margin-left);
    margin-right: var(--margin-left);
    text-align: left;
    padding-bottom: 14px;
  }
}



@media (max-width:757px) {

  .sectionTitle {
    padding: 0;
    font-size: 3rem;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }}

  
@media (max-width:415px) {
  .sectionTitle{font-size: 3rem;}
}

/*=== FOTO ===*/

@media (max-width:515px) {
  .imgCamiseta{
    width: auto;
    height: auto;
  }
  .avatar{
    height: auto;
    width: auto;
  }
}


/* === DIVISOR === */

@media (max-width: 1800px) {.group28Gradiente { top: 33rem; } }
@media (max-width: 1581px) {.group28Gradiente { top: 38rem; } }
@media (max-width: 900px) {.group28Gradiente { top: 37rem; } }
@media (max-width: 883px) {.group28Gradiente { top: 39rem; } }
@media (max-width: 816px) {.group28Gradiente { top: 41rem; } }
@media (max-width: 765px) {.group28Gradiente { top: 43rem; } }
@media (max-width: 732px) {.group28Gradiente { top: 46rem; } }
@media (max-width: 693px) {.group28Gradiente { top: 49rem; } }
@media (max-width: 680px) {.group28Gradiente { top: 51rem; } }
@media (max-width: 627px) {.group28Gradiente { top: 54rem; } }
@media (max-width: 579px) {.group28Gradiente { top: 59rem; } }
@media (max-width: 545px) {.group28Gradiente { top: 62rem; } }
@media (max-width: 531px) {.group28Gradiente { top: 65rem; } }
@media (max-width: 493px) {.group28Gradiente { top: 67rem; } }
@media (max-width: 468px) {.group28Gradiente { top: 69rem; } }
@media (max-width: 448px) {.group28Gradiente { top: 70rem; } }
@media (max-width: 408px) {.group28Gradiente { top: 72rem; } }
@media (max-width: 397px) {.group28Gradiente { top: 74rem; } }
@media (max-width: 385px) {.group28Gradiente { top: 78rem; } }
@media (max-width: 369px) {.group28Gradiente { top: 80rem; } }
@media (max-width: 359px) {.group28Gradiente { top: 82rem; } }