.title {
  font-family: "Roboto Flex";
  font-size: 5rem;
  font-weight: 700;
  margin-top: 15px;
  gap: 5px;
  align-items: end;
  margin-left: 7vw; 
  margin-right: 7vw;
  color: var(--blue-titles);
}




.sectionTexts{
    margin-top: 2rem;
    position: relative;
    justify-content: space-around;
    font-size: 1.7rem;
    line-height: 28px;
    position: relative;
    z-index: 10002;
    background-color: white;
    min-height: 200px;

    >p{
        margin-left: 7vw;
        margin-right: 7vw;
    }

}


.sectionCards{
    position: relative;
}


.floatImage {
    z-index: 10003;
    position: relative;
    float: right; 
    width: 450px; 
    height: 300px; 
    margin-left: 3vw; 
    margin-right: 7vw;
    margin-top: 2rem; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 97%); */

    
}

.group28Gradiente{
    position: absolute;
    width: 100vw;    
    z-index: 10001;
    top: -100px;
}

.blueTitles{
    color: var(--blue-titles);
}
.greenTitles{
    color: var(--green-titles);
}


    

@media (max-width:768px) {
    .title{
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        text-align: center;
    }

    .sectionTexts{
        font-size: 1.5rem;
    }


    .floatImage{
        float:none;
        height: auto;
        width: 75%;
        max-width: 400px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-top: 2rem;
    }
}



@media (max-width:600px) {
    .group28Gradiente{top: -50px;}

    .floatImage{
        max-width: 300px;
    }
    
}